/* You can add global styles to this file, and also import other style files */

p{
    color:white;
    font-size:25px;
}
html{
    overflow-y:hidden;
}
body{
    margin:0px !important;
    background-size:100% 100%;
    background: linear-gradient(#203440, #203440)
}