body{
    background-color:white !important;
    overflow: visible;
}
html{
    overflow:visible !important;
}
a{
    color:none !important;
    text-decoration:none !important;
}
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.navbar{
	background-color:gray;
}
.centrar{
	display:block;




}
.row{
    display:flex;
    justify-content:center;
    gap: 10%;
}
.s2{
    margin-left:5%;
    margin-right:5%;
}
.demandax{
    margin-top:2%;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
}
input{
    display:flex;
    justify-content:center;
    width: 100%;
}
p{
	font-size: 20px;
}
.x{
	display:flex;
	width:100%;
	justify-content:space-around;

}
.contenedor{
	margin-top:3%;
	display:flex;
	padding-bottom: 10%;
	padding-top:5%;
    flex-direction: column;;
}
.section2{
	display:flex;
	margin-top:5%;
	margin-left:4%
}
.container{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color:white;
}